<div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <div class="title2" id="exampleModalCenterTitle">Кошик</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <?php foreach (range(1, 4) as $i): ?>
                        <div class="cart-product flex-lg-nowrap">
                            <div class="d-flex flex-grow-1 align-items-center">
                                <a href="/newtemplate/product.php" class="d-block p-2 flex-shrink-0">
                                    <img class="img-fluid" src="/assets/newimg/smcat.svg" alt="">
                                </a>
                                <a href="/newtemplate/product.php" class="p-2">
                                    Товар название и активная ссылка открыть карточку товара
                                </a>
                                <div class="d-lg-none p-2">
                                    <button type="button" class="btn-close" aria-label="Close"></button>
                                </div>
                            </div>
                            <div class="d-none d-lg-block p-2">4349.00</div>
                            <div
                                class="col-12 col-lg-auto d-flex align-items-center justify-content-between justify-content-lg-start">
                                <div style="max-width: 115px" class="input-group flex-nowrap p-2">
                                    <span class="input-group-text">-</span>
                                    <input type="text" class="form-control" value="1">
                                    <span class="input-group-text">+</span>
                                </div>
                                <div class="p-2">13047.00</div>
                            </div>
                            <div class="d-none d-lg-block p-2">
                                <button type="button" class="btn-close" aria-label="Close"></button>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-6 col-lg-4">
                            <div class="text-start tb">
                                <label for="">Промокод</label>
                                <input type="email" class="form-control"
                                       id="exampleFormControlInput1">
                            </div>
                        </div>
                        <div class="col-6 col-lg-8">
                            <div class="text-end tb">
                                <div> Сумма: 91414.00</div>
                                <div> Скидка: 1000.00</div>
                                <div> Разом: 81414.00</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 text-end mt-2">
                        <button class="btn btn-primary w-100" type="button">
                            Оформити замовлення
                        </button>
                    </div>
                    <div class="col-12 col-lg-6 order-lg-first sub-menu-links text-center mt-2">
                        <a href="">Продолжить покупки</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>